servidor/db.sqlite3
servidor/project-template.rar
# Django #
*.log
*.pot
*.pyc
pycache
db.sqlite3
media

# Backup files # 
*.bak 

# If you are using PyCharm # 
# User-specific stuff
.idea//workspace.xml
.idea//tasks.xml
.idea//usage.statistics.xml
.idea//dictionaries
.idea//shelf

# AWS User-specific
.idea//aws.xml

node_modules
.expo