{% extends 'templates/body.html' %}

{% block content %}
<div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-exclamation-triangle"></i>
        {{title}}
      </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Talla</th>
                <th scope="col">Color</th>
                <th scope="col">Precio</th>
                <th scope="col">Proveedor</th>
              </tr>
            </thead>
            <tbody>
            {% for c in categories %}
                <tr>
                    
                    <td>{{c.name}}</td>
                    <td>
                        <button type="button" class="btn btn-primary"><i class="fa-solid fa-trash"></i></button>
                        <button type="button" class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
    <!-- /.card-body -->
  </div>

 {% endblock %}
