{% extends 'templates/body.html' %}
{% load widget_tweaks %}
{% block head %}
    {% block head_form %}

    {% endblock %}
{% endblock %}
{% block content %}
    <form method="post" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                    <i class="fas fa-plus"></i>
                    {% else %}
                    <i class="fas fa-save"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="email">{{ field.label }}:</label>
                    {{ field|add_class:'form-control'|attr:'autocomplete:off'}}
                </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
            </div>
        </div>
    </form>
    <script>
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}


        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            alert_jqueryconfirm(window.location.pathname, parameters, function () {
                location.href = '{{ list_url }}';
            });
        });


    </script>
{% endblock %}
