{% extends 'templates/body.html' %}
{% load static %}
   

{% block head %}
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>

{% block head_list%}
 
{% endblock %}

{% endblock %}

{% block content %}
<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">
      <i class="fas fa-search"></i>
      {{ title }}
    </h3>
  </div>
  <div class="card-body">
    <table id="data" class="table" >
      <thead>
        {% block columns %}

        {% endblock %}
      </thead>
      <tbody>
        {% block rows %}

        {% endblock %}
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    {%block button_list %}
    <a href="{{ create_url }}"  class="btn btn-primary btn-flat btnTest">
        <i class="fas fa-plus "></i> Nuevo Registro
    </a>
    {%endblock %}
   

  </div>
</div>
{% endblock %}
{%block javascript%}
<script>
  $(function () {
      $('#data').DataTable({
        responsive: true,
        autoWidth: false
      });
    });
    $('form').on('submit', function (e) {
            e.preventDefault();
            //var parameters = $(this).serializeArray();
            var parameters = new FormData(this);
            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
                location.href = '{{ list_url }}';
            });
        });
  </script>



{%endblock%}
